/* General */
:root {
	--dark: #001219;
	--medium: #013541;
	--accent: #2c7688;
	--light: #f2e2d4;

	--font: "Poppins", "Segoe UI", sans-serif;
	--font-size: 1.2rem;

	--navbar-width: 320px;
}
body {
	height: 100%;
	margin: 0;
	font-size: 1.1em;

	background-color: var(--dark);
	background-image: linear-gradient(var(--medium), var(--dark));
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	color: var(--light);
	font-size: 1.1em;
	font-family: var(--font);

	margin: 50px 70px 50px calc(var(--navbar-width) + 70px);
}
a {
	color: var(--light);
}
li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
@font-face {
	font-family: "Poppins";
	font-weight: 300;
	src: url("../static/fonts/Poppins-Light.ttf");
}
@font-face {
	font-family: "Poppins";
	font-weight: 400;
	src: url("../static/fonts/Poppins-Regular.ttf");
}
@font-face {
	font-family: "Poppins";
	font-family: 500;
	src: url("../static/fonts/Poppins-Medium.ttf");
}
@font-face {
	font-family: "Poppins";
	font-weight: 600;
	src: url("../static/fonts/Poppins-SemiBold.ttf");
}
@font-face {
	font-family: "Poppins";
	font-weight: 700;
	src: url("../static/fonts/Poppins-Bold.ttf");
}
* {
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
*::selection {
	background: none;
}
*:hover {
	cursor: default;
}

/* Navbar */
.navbar {
	height: 100%;
	width: var(--navbar-width);

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;

	background-color: var(--dark);
	padding: 30px 30px 0 30px;
	box-sizing: border-box;
}
.navbar-heading {
	display: flex;
	align-items: center;

	padding: 5px 0 20px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.navbar-heading,
.navbar-heading-logo img {
	height: 40px;
}
.navbar-heading-text {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.navbar-heading-title {
	font-weight: bold;
}
.navbar-heading-subtitle {
	opacity: 0.6;
	margin-top: -3px;
}
.navbar-options {
	margin-top: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.navbar-option {
	display: flex;
	align-items: center;

	padding: 10px 15px;
	border-radius: 3px;
	margin-bottom: 10px;

	text-decoration: none;
	transition: background-color 0.1s ease-in-out;
}
.navbar-option:hover {
	background-color: rgba(255, 255, 255, 0.07);
}
.navbar-option img {
	margin-right: 20px;
	height: 25px;
	width: 25px;
	object-fit: contain;
}
.navbar-option.selected {
	border: 1px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.05);
}
#navbar-close {
	margin-top: 140px;
}

/* Page */
.page-subtitle {
	font-size: 1.2em;
	opacity: 0.7;
}

/* Homepage */
.homepage-layout {
	margin: 50px 20px 0 20px;
	height: 100%;

	display: grid;
	grid-gap: 7px;
	grid-template-rows: [row1] 50% [row2] 50%;
	grid-template-columns: [col1] 50% [col2] 50%;
}
.homepage-item {
	height: 150px;
	padding: 20px;
	box-sizing: border-box;

	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.05);

	transition: 0.15s ease-in-out;
	transition-property: background-color, box-shadow;
}
.homepage-item:hover {
	background-color: rgba(255, 255, 255, 0.07);
	box-shadow: #3aa7c213 0px 7px 29px 0px;
}
.homepage-item-heading {
	font-size: 1.1em;
	margin-bottom: 20px;
	display: flex;
	align-items: center;

	font-weight: bold;
}
.homepage-item-heading img {
	margin-right: 12px;
	height: 25px;
	width: 25px;
	object-fit: contain;
}
.homepage-bar-heading {
	display: flex;
	margin-bottom: 15px;
}
.homepage-bar-title {
	width: 70%;

	font-weight: bold;
	margin-right: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.homepage-bar-title:hover {
	width: 100%;
	text-overflow: inherit;
	overflow: visible;
}
.homepage-bar-data {
	opacity: 0.7;
}
.homepage-bar-line,
.homepage-bar-outline {
	display: block;
	height: 10px;
	border-radius: 100px;
}
.homepage-bar-outline {
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
}
.homepage-bar-line {
	width: 50%;
	background-image: linear-gradient(
		90deg,
		var(--medium) -100%,
		var(--accent) 100%
	);
	box-shadow: #3aa7c245 0px 7px 29px 0px;
	transition: width 0.1s ease-in-out;
}

/* Monitor */
.monitor-layout {
	margin: 30px 20px 0 20px;
}
.monitor-chart-container {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 20px;

	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.05);
}
.monitor-grid {
	width: 50%;
	grid-gap: 10px;
	box-sizing: border-box;

	display: grid;
	grid-template-rows: [row1] 50% [row2] 50%;
	grid-template-columns: [col1] 50% [col2] 50%;
}
.monitor-bottom-row {
	display: flex;
	margin-top: 10px;
}
.monitor-details {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.05);

	width: 100%;
	margin-left: 20px;

	padding: 10px 0;

	display: flex;
	align-items: center;
}

/* Info Box */
.info-box {
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.05);

	padding: 20px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
}
.info-box-title {
	font-size: 0.9em;
	opacity: 0.7;
}
.info-box-data {
	font-weight: bold;
	font-size: 1.3em;
}
.info-box-unit {
	opacity: 0.7;
	font-weight: 300;
	font-size: 1.1em;
}

/* Others */
#move-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	width: 100%;
	height: 100px;

	z-index: 1000;
	-webkit-app-region: drag;
}
